*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 992px){

.container {
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 5px;
    
}

footer {
    display: flex;
    justify-content: space-between;
    text-align: initial;
    align-items: center;
}

}